#logo {
  text-align: center;
}

#index-form-container {
  margin: 10px auto;
  width: 90%;
  padding: 10px;
  background: blue;
  align-items: center;
  form {
    width: 70%;
    input {
      margin: 5px;
    }
  }
}

#tabs {
  width: 100%;
  border-bottom: 2px solid black;
}
#tabs h2 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5px;
}
