doctype
html
  head
    title about
  body
    h2 team
    p
    h2 Techonologies used on this project
    h3  Dev Ops
    ul
      li Github: store source code repository
      li git (git workflow): version control
      li Zenhub and trello for task management
      li Google hangout: meetings and pair programming
      li Screenhero: pair programming
      li slack: team communication
      li Robomongo: database management tool

    h3 Code Techonologies
    ul
      li Javascript js5 ES6
      li Node.js
      li Express: framework
      li Pug (formerly Jade) templating engine
      li Sass: css preprocessing
      li Mongodb: database
      li gulp: task management
      li faker: randomized seed data
      li babel: compile ecma6


    h3 Design Tools
    ul
      li Balsamiq Mockups
