doctype
html
  head
    title Todo app
    link(href="css/main.css" rel="stylesheet")
  body
    h1 Welcome to the Todo App

    h2 Please Login
    form(id="loginForm", method="POST", action="auth/login")
      input(type="text" name="username" placeholder="Username or Email")
      input(type="password" name="password" placeholder="Password")
      button(type="submit") Submit

    h2 Please Register
    form(id="registerForm", method="POST", action="auth/register")
      input(type="text" name="username" placeholder="Username")
      input(type="email" name="email" placeholder="Email")
      input(type="password" name="password" placeholder="Password")
      button(type="submit") Submit
