doctype
html
  head
    title Todo app
    link(href="css/main.css" rel="stylesheet")
  body
    h1 Welcome to the Todo App
    btn#welcomeBtn
    form(id="loginForm", method="POST", action="auth/login")
      input(type="text" name="name" placeholder="Name")
      input(type="email" name="email" placeholder="Email")
      input(type="password" name="password" placeholder="Password")
    
