doctype
html
  head
    title taskrr
    link(href="css/main.css",rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,600' rel='stylesheet')
    script(src='js/index.js' defer)
  body
    h4#logo taskrr
    h1#index-heading Multi Tasking.

    #index-form-container(class="flex-col")
      #tabs(class="flex")
        h2#sign-in-tab SIGN IN
        h2#register-tab REGISTER

      form#sign-in-form(method="POST", action="auth/login" class="hidden")
        input(type="text" name="username" placeholder="Username or Email")
        input(type="password" name="password" placeholder="Password")
        button(type="submit") Submit

      form#register-form(method="POST", action="auth/register")
        input(type="text" name="username" placeholder="Username")
        input(type="email" name="email" placeholder="Email")
        input(type="password" name="password" placeholder="Password")
        button(type="submit") Submit

    footer
      ul
        li GitHub
        li About
        li Something
