doctype
html
  head
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,600' rel='stylesheet')
    script(src='./js/index.js' defer)
    title test
  body
    block content
