

@import "variables";


button{
  background-color: white;
  border-radius: 0 11px 0 11px;
  border: 1.5px solid black;
  padding: 8px 15px 7px;
  font-family: GothamMedium;
  text-transform: uppercase;
  box-shadow: 3px 3px 0px $color2;

}
