
// Fonts

$primary-font: 'Gotham', sans-serif;

// Colors

// Black
$color0: rgba(0, 0, 0, 1);
// Dark Gray
$color1: rgba(57, 62, 65, 1);
// Blue
$color2: #5093E5;
// Light Gray
$color3: rgba(245, 239, 237, 1);
// White
$color4: rgba(255, 255, 255, 1);
